body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black ;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.game-container{
    background: white;
    padding: 25px;
    border-radius: 120px;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h2{
    color: orange;
    margin-bottom: 20px;
}

.choicer{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.choice-btn{
    flex: 1;
    margin: 5px;
    margin-top: 50px;
    padding: 15px;
    background-color: grey;
    border: none;
    border-radius: 80%;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s,transform 0.2s;
    align-items: center;
    
}

.choice-btn:hover{
    background: rgb(132, 255, 0);
    transform: scale(1.05);
}

.status{
    margin: 15px;
    font-size: 1.1rem;
    color: rgb(210, 159, 7);
}

.scoreboard{
    background: greenyellow;
    color: rgb(19, 18, 16);
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 1rem;
}

@media(max-width:500px){
    .choice-btn{
        font-size: 0.95rem;
        padding: 12px;
    }
}
